{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block main %}

    <div class="jumbotron jumbotron-home text-center">
        <div class="container mt-5">
            <h1>L'Agence Immo</h1>
            <p style="font-family: Montserrat, Bold;">L'AgenceImmo vous propose des annonces immobilières de ventes pour votre projet immobilier d'achat, d'investissement ou de location. Si vous souhaitez mettre en vente votre logement, contactez nous pour une estimation de votre bien immobilier.</p>
        </div>
    </div>

    <div class="container mt-4">
        <h2>Nos derniers biens</h2>
        <hr>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-md-3">
                    {% include "property/_property.html.twig" %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

