{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}

<div class="jumbotron text-center">
    <div class="container">

    {% for message in app.flashes ('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>           
    {% endfor %}

        <h1>L'agence Immo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam sed debitis dolor ducimus fugiat blanditiis facere quidem sapiente harum atque praesentium quasi, quibusdam, ipsa officia. Ratione nemo possimus facere.</p>
    </div>
</div>

<div class="container">
    <h2>Les derniers biens</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            {% include "property/_property.html.twig" %}
        </div>
    {% endfor %}
</div>

{% endblock %}

