{% extends "base.html.twig" %}

{% block title "Modifier bien" %}

{% block body %}
    <div class="container mt-4">
        {{ include ("admin/property/_form.html.twig", {form: form, button: "Editer le bien"}) }}
    </div>
{% endblock %}