{% extends "base.html.twig" %}

{% block title "Les biens" %}

{% block body %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>Les biens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ipsam sed debitis dolor ducimus fugiat blanditiis facere quidem sapiente harum atque praesentium quasi, quibusdam, ipsa officia. Ratione nemo possimus facere.</p>
    </div>
</div>
    
{% endblock %}