<div class="container-fluid mt-4 pb-5">
    <hr>
    <div class="row">

        {# Réseaux Sociaux #}
        <div class="col-md-4 text-center">
            <h4 class="col mb-4">Réseaux Sociaux</h4>
            <div class="row" style="justify-content: center">
                <div class="col-md-2">
                    <a href="#"><img src="{{ asset('media/facebook-icon.png') }}" class="img-fluid" alt=""></a>                        
                </div>
                <div class="col-md-2">
                    <a href="#"><img src="{{ asset('media/twitter-icon.png') }}" class="img-fluid" alt=""></a>                        
                </div>
                <div class="col-md-2">
                    <a href="#"><img src="{{ asset('media/instagram-icon.jpg') }}" class="img-fluid" alt=""></a>                        
                </div>
            </div>
        </div>

        {# Google Maps #}
        <div class="col-md-4 text-center">
            <h4 class="col mb-4">Notre agence au coeur de Bordeaux</h4>
            <div class="row" style="justify-content: center">
                <div class="col">                
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.9220945195784!2d-0.5810551845542706!3d44.84351988266385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527dc3f618e6d%3A0xacfc76da5d346144!2sCours%20Georges%20Clemenceau%2C%2033000%20Bordeaux!5e0!3m2!1sfr!2sfr!4v1572099996054!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>

        {# Contact #}
        <div class="col-md-4 text-center">
            <h4 class="col mb-4">Contact</h4>
            <div class="row" style="justify-content: center">
                <div class="col">
                    <p>AgenceImmo
                        <br>
                        34 Cours Clémenceau, 33000 Bordeaux
                        <br>
                        Téléphone:  0667823245
                        <br>
                        Email : agenceImmo@gmail.com
                        <br>
                        Horaires: Du Lundi au Vendredi de 9h à 19h                        
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
