<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}AgenceImmo{% endblock %}</title>

        {% block stylesheets %}{% include "block/_stylesheets.html.twig" %}{% endblock %}    
    </head>
    <body>
        <header>
            {% block header %}{% include "block/_header.html.twig" %}{% endblock %}
        </header>
        
        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>
            {% block footer %}{% include "block/_footer.html.twig" %}{% endblock %}
        </footer>


        {% block javascripts %}{% include "block/_scripts.html.twig" %}{% endblock %}   
    </body>
</html>
