{% extends 'base.html.twig' %}

{% block main %}

    <div class="container mt-4">
        <h1>Editer l'option</h1>
        <hr>
        {{ include ('admin/option/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}

{% block footer %}{% endblock %}

