{% extends 'base.html.twig' %}

{% block title %}Option{% endblock %}

{% block main %}

    <div class="container mt-4">
        <h1>Option</h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ option.name }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('admin.option.index') }}" class="btn btn-secondary">Retour à la liste des options</a>
        <a href="{{ path('admin.option.edit', {'id': option.id}) }}" class="btn btn-primary">Editer une option</a>
        <a href="{{ path('admin.option.delete', {id: option.id, _token: csrf_token ( 'delete' ~ option.id )}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ?')" class="btn btn-danger">Supprimer l'option</a>
    </div>

    

{% endblock %}

{% block footer %}{% endblock %}


